<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"></meta>
<title>Add Subject</title>
<link href="/bootstrap.min.css" rel="stylesheet"></link>
<link href="/main.css" rel="stylesheet"></link>
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/allstudents">Students</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="/addstudent">Add Student</a></li>
					<li><a href="/addguide">Add Guide</a></li>
					<li><a href="/addsubject">Add Subject</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<form action="#" th:action="@{/addguide}" th:object="${guide}"
		method="post">
		<table>
			<tr>
				<td>Name:</td>
				<td><input type="text" th:field="*{name}" /></td>
				<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name
					Error</td>
			</tr>
			<tr>
				<td>Salary</td>
				<td><input type="text" th:field="*{salary}" /></td>

			</tr>
			<tr>
				<td><button type="submit">Submit</button></td>
			</tr>
		</table>
	</form>

</body>
</html>